[submodule "vim_.vim/bundle/nerdtree"]
	path = vim_.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim_.vim/bundle/bufonly"]
	path = vim_.vim/bundle/bufonly
	url = https://github.com/duff/vim-bufonly.git
[submodule "vim_.vim/bundle/vim-colors-solarized"]
	path = vim_.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim_.vim/bundle/supertab"]
	path = vim_.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim-ipython-mine"]
	path = vim_.vim/bundle/vim-ipython
	url = git@github.com:jacobandreas/vim-ipython.git
[submodule "vim_.vim/bundle/vim-airline"]
	path = vim_.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim_.vim/bundle/vim-latex"]
	path = vim_.vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "vim_.vim/bundle/base16-vim"]
	path = vim_.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
