[submodule "vim_.vim/bundle/nerdtree"]
	path = vim_.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim_.vim/bundle/bufonly"]
	path = vim_.vim/bundle/bufonly
	url = https://github.com/duff/vim-bufonly.git
[submodule "vim_.vim/bundle/vim-colors-solarized"]
	path = vim_.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim_.vim/bundle/supertab"]
	path = vim_.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim_.vim/bundle/vim-ipython"]
	path = vim_.vim/bundle/vim-ipython
	url = https://github.com/ivanov/vim-ipython.git
